html,
body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/images/background.jpg');
}

canvas {
  /*how to center the canvas*/
  display: block;
  margin: auto;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
